<table>
  <thead>
    {{#if showMonthName}}
      <tr class="month-name">
        <th colspan="7"> {{monthName}} </th>
      </tr>
    {{/if}}

    {{#if showWeekdayNames}}
      <tr class="weekday-names">
        {{#each weekdayNames as |name|}}
          <th colspan="1"> {{name}} </th>
        {{/each}}
      </tr>
    {{/if}}
  </thead>

  <tbody>
    {{#each displayWeeks as |week|}}
      <tr>
        {{#each week as |day|}}
          <td class="day {{if day.isSelected 'selected'}} {{unless day.isThisMonth 'foo'}}"> {{day.date}} </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>

</table>


{{!-- {{#if showMonthName}}
  <div class="month-name"> {{monthName}} </div>
{{/if}}
{{#if showWeekdayNames}}
  <div class="weekday-names">
    {{#each weekdayNames as |name|}}
      {{name}}
    {{/each}}
  </div>
{{/if}} --}}

{{!-- {{#each (range 0 firstOfMonthWeekday)}}
  <div class="day dummy-date-holder"></div>
{{/each}}

{{#each weeks as |week|}}
  <div class="week">
  </div>
{{/each}}

{{#each displayDays as |day|}}
  {{#if day.isFirstDayOfWeek}}
      <div class="day {{if day.isSelected 'selected'}}"> {{day.day}} </div>
  {{else}}
    <div class="day {{if day.isSelected 'selected'}}"> {{day.day}} </div>
  {{/if}}
{{/each}}

firstMondayOfMonth: {{firstMondayOfMonth}}
numberOfDaysInMonth: {{numberOfDaysInMonth}} --}}