<table>
  <thead>
    {{#if showMonthName}}
      <tr>
        <th class="month-name" colspan="7"> {{monthName}} {{#if showYear}} {{year}} {{/if}} </th>
      </tr>
    {{/if}}

    {{#if showWeekdayNames}}
      <tr>
        {{#each weekdayNames as |name|}}
          <th class="weekday-name"> {{name}} </th>
        {{/each}}
      </tr>
    {{/if}}
  </thead>

  <tbody>
    {{#each displayWeeks as |week|}}
      <tr>
        {{#each week as |day|}}
          <td class="day {{unless day.isThisMonth notThisMonthClass}} {{if day.customClass day.customClass}}"> {{day.date}} </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>

</table>