<a class="previous {{unless shouldShowPreviousButton 'hidden'}}" {{action "previous"}}> Previous </a>

{{#each displayMonths as |month|}}
  {{calendar-month
    year=month.year
    month=month.month
    customClassFunction=customClassFunction
    showLastPartialWeek=month.showLastPartialWeek
    showFirstPartialWeek=month.showFirstPartialWeek
    context=context}}
{{/each}}

<a class="next {{unless shouldShowNextButton 'hidden'}}" {{action "next"}}> Next </a>