<table>
  <thead>
    {{#if showMonthName}}
      <tr>
        <th colspan="{{numberOfColumns}}"> <span class="month-name"> {{monthName}} </span> {{#if showYear}} <span class="year-name"> {{year}} </span> {{/if}} </th>
      </tr>
    {{/if}}

    {{#if showWeekdayNames}}
      <tr>
        {{#if showWeekNumbers}}
          {{! todo support a label here }}
          <th></th>
        {{/if}}
        {{#each weekdayNames as |name|}}
          <th class="weekday-name"> {{name}} </th>
        {{/each}}
      </tr>
    {{/if}}
  </thead>

  <tbody>
    {{#each displayWeeks as |week|}}
      <tr>
        {{#if showWeekNumbers}}
          <td class="week-number"> {{week.weekNumber}} </td>
        {{/if}}
        {{#each week.days as |day|}}
          <td class="day {{unless day.isThisMonth notThisMonthClass}} {{if day.customClass day.customClass}}"> {{day.date}} </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>