<table>
  <thead>
    {{#if showMonthName}}
      <tr class="month-name">
        <th colspan="7"> {{monthName}} </th>
      </tr>
    {{/if}}

    {{#if showWeekdayNames}}
      <tr class="weekday-names">
        {{#each weekdayNames as |name|}}
          <th colspan="1"> {{name}} </th>
        {{/each}}
      </tr>
    {{/if}}
  </thead>

  <tbody>
    {{#each displayWeeks as |week|}}
      <tr>
        {{#each week as |day|}}
          <td class="day {{if day.isSelected 'selected'}} {{unless day.isThisMonth 'foo'}}"> {{day.date}} </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>

</table>